/* stylelint-disable property-no-vendor-prefix */

@use 'sass:map';

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

body {
  background-color: map.get($theme-light, 'main-color');
  font-family: $global-font-nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

p,
li,
h2,
h3,
h4 {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0;
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: $global-font-poppins;
  font-weight: map.get($font-weight, 'semi-bold');
}

h1 {
  font-size: map.get($font-size, '2xl');
}

h2 {
  font-size: map.get($font-size, 'xl');
}

h3 {
  font-size: map.get($font-size, 'lg');
}

a {
  display: inline-block;
  text-decoration: none;
  width: 100%;

  @media (max-width: 980px) {
    display: inline;
  }

  &:focus,
  &:hover,
  &:visited {
    border: 1px dashed map.get($theme-light, 'third-color');
  }

  &:active {
    color: map.get($theme-light, 'fourth-color');
  }
}

li {
  list-style: none;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
}

img[width][height] {
  height: auto;
}

img[src$='.svg'] {
  height: auto;
  max-width: none;
  width: 100%;
}
