html {
  box-sizing: border-box;
}

// @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// @see https://www.nicchan.me/blog/tips-for-focus-styles/#consider-adding-a-little-bit-of-breathing-room
*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

// @see https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
body {
  background-color: map-get($theme-light, 'main-color');
  font-family: $global-font-nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

// @see https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
p,
li,
h1,
h2,
h3,
h4 {
  hyphens: auto;
  overflow-wrap: break-word;
}

h1,
h2 {
  font-family: $global-font-poppins, sans-serif;
  font-weight: map-get($font-weight, 'semi-bold');
}

label {
  cursor: pointer;
}

// @see https://www.zachleat.com/web/fluid-images/
img {
  max-width: 100%;
}

img[width][height] {
  height: auto;
}

img[src$='.svg'] {
  height: auto;
  max-width: none;
  width: 100%;
}
