/* ===================================================
    * * Colors
   =================================================== */

$theme-light: (
  'main-color': #fff,
  'primary-color': '#000000',
  'secondary-color': '#252527',
  'third-color': '#a22e0b',
  'fourth-color': '#f24e1e',
);

/* ===================================================
    * *  Typography
   =================================================== */

$global-font-nunito: 'Nunito';
$global-font-poppins: 'Poppins';
$font-weight: (
  'regular': 400,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800,
  'black': 900,
);
$font-size: (
  'sm': '0.875rem',
  // 14px
  'base': '1rem',
  // 16px
  'md': '1.25rem',
  // 20px
  'lg': '1.563rem',
  // 25px
  'xl': '1.875rem',
  // 30px
);

/* ===================================================
    * *  Measures
   =================================================== */
$spacing: (
  '01': '0.25rem',
  // 4px
  '02': '0.5rem',
  // 8px
  '03': '0.75rem',
  // 12px
  '04': '1rem',
  // 16px
  '05': '1.25rem',
  // 20px
  '06': '1.5rem',
  // 24px
  '07': '1.75rem',
  // 28px
  '08': '2.5rem',
  // 40px
);
