@use 'sass:map';

.c-button {
  border-radius: $global-border-radius;
  border-style: none;
  cursor: pointer;
  font-size: map.get($font-size, 'base');
  font-weight: map.get($font-weight, 'black');
  height: rem(48px);
  padding: map.get($spacing, '02');
  text-align: center;
  transition: $transition-duration-default $transition-function-ease-in;
  width: rem(216px);
}

.c-button--teste {
  align-items: center;
  background-color: rgb(255 136 0);
  color: rgb(255 255 255);
  display: inline-flex;
  justify-content: center;
}

.c-button--main {
  align-items: center;
  background-color: map.get($theme-light, 'primary-color');
  color: map.get($theme-light, 'main-color');
  display: inline-flex;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: map.get($theme-light, 'fourth-color');
    border: 1px dashed map.get($theme-light, 'primary-color');
    color: map.get($theme-light, 'primary-color');
  }
}

.c-button--form {
  background-color: map.get($theme-light, 'main-color');
  color: map.get($theme-light, 'primary-color');
  margin-top: 2rem;

  &:focus,
  &:active {
    background-color: map.get($theme-light, 'focus-color');
    border: 2px dashed map.get($theme-light, 'primary-color');
    color: map.get($theme-light, 'primary-color');
  }

  &:hover {
    border: 2px dashed map.get($theme-light, 'primary-color');
  }
}

.c-button--hamburger {
  visibility: hidden;

  @media (max-width: rem(780px)) {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-top: map.get($spacing, '07');
    transition: $transition-duration-default $transition-function-ease-in;
    visibility: visible;

    &:hover {
      border: 2px dashed map.get($theme-light, 'primary-color');
    }
  }
}

.c-teste {
  background-color: rgb(255 136 0);
  color: #8f2121;
}

.c-button--back-to-top {
  align-items: center;
  background-color: map.get($theme-light, 'fourth-color');
  border: 0;
  border-radius: 50%;
  bottom: 50px;
  display: flex;
  height: rem(30px);
  justify-content: center;
  position: fixed;
  right: 50px;
  transition: $transition-duration-default;
  width: rem(30px);

  &:hover {
    border: 1px dashed map.get($theme-light, 'primary-color');
  }
}
