@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.c-presentation__content {
  margin-left: map.get(variables.$spacing, '09');

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'xl')) {
    margin-left: 0;
  }

  .c-presentation__image {
    width: functions.rem(474px);

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'xl')) {
      display: none;
    }
  }
}

.c-content-box__package,
.c-content-box__delivery,
.c-content-box__ready-food,
.c-feedback__description {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-content-box__delivery {
  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'md')) {
    margin-bottom: 1.5rem;
  }

  .c-icon--big {
    margin-bottom: map.get(variables.$spacing, '03');
    width: functions.rem(250px);
  }
}

.c-content-box__package {
  transform: translateY(-25px);

  .c-icon--big {
    margin-bottom: map.get(variables.$spacing, '03');
    width: functions.rem(200px);
  }
}

.c-content-box__ready-food {
  transform: translateY(-15px);

  .c-icon--big {
    margin-bottom: map.get(variables.$spacing, '03');
    width: functions.rem(250px);
  }
}
