@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.c-feedback__box {
  .c-feedback__image {
    border-radius: 50%;
    height: functions.rem(400px);
    width: functions.rem(490px);

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'xl')) {
      display: none;
    }
  }
}

.c-feedback__description {
  flex-direction: row;
  gap: map.get(variables.$spacing, '05');
  justify-content: flex-start;
  margin-bottom: map.get(variables.$spacing, '07');
  margin-top: map.get(variables.$spacing, '07');

  .c-feedback__character {
    height: functions.rem(48px);
    width: functions.rem(48px);
  }
}

.c-feedback__reviews {
  align-items: center;
  display: flex;
  gap: map.get(variables.$spacing, '04');
  justify-content: flex-start;
  margin-top: map.get(variables.$spacing, '05');

  .c-star__icon {
    height: functions.rem(20px);
    width: functions.rem(20px);
  }
}
