@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.c-form__content {
  align-items: center;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    transform: translateY(-40px);
  }

  .c-form__image {
    width: functions.rem(370px);

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
      display: none;
    }
  }
}

.c-form__subtitle {
  margin-top: 6rem;
  padding-bottom: map.get(variables.$spacing, '06');

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'md')) {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
}

.c-form__description {
  font-size: 1.1rem;
  font-weight: map.get(variables.$font-weight, 'regular');
  max-width: functions.rem(450px);

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'md')) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    text-align: center;
  }
}

.c-container-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: map.get(variables.$spacing, '06');
}

.c-form-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-10px);

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    transform: translateY(-40px);
  }

  h3 {
    padding-bottom: map.get(variables.$spacing, '06');
    text-align: center;

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
      padding-bottom: map.get(variables.$spacing, '04');
    }
  }
}

.c-form-group {
  display: flex;
  flex-direction: column;
  gap: map.get(variables.$spacing, '03');
  margin-bottom: map.get(variables.$spacing, '04');
  width: 100%;

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    width: 85%;
  }

  &__label {
    font-size: map.get(variables.$font-size, 'base');
    font-weight: map.get(variables.$font-weight, 'bold');
  }

  &__input {
    border-radius: 5px;
    font-size: map.get(variables.$font-size, 'base');
    height: functions.rem(40px);
    max-width: 100%;
    padding: map.get(variables.$spacing, '02');
    width: functions.rem(352px);
  }
}
