@use 'sass:map';

.c-form__subtitle {
  padding-bottom: map.get($spacing, '06');
}

.c-form__description {
  font-weight: map.get($font-weight, 'regular');
  width: rem(450px);
}

.c-form-page {
  h3 {
    padding-bottom: map.get($spacing, '06');
  }
}

.c-form-teste {
  color: #c3843a;
}

.c-form-group {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, '05');
  margin-bottom: map.get($spacing, '05');
  width: 100%;

  &__label {
    font-size: rem(16px);
    font-weight: map.get($font-weight, 'bold');
  }

  &__input {
    border-radius: rem(8px);
    font-size: rem(18px);
    height: rem(40px);
    max-width: 100%;
    padding: map.get($spacing, '03');
    width: rem(300px);
  }
}
