@use 'sass:map';

.c-header__logo {
  margin-right: map.get($spacing, '01');

  .c-header__image {
    height: rem(42px);
    width: rem(50px);
  }
}

.c-presentation__icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .c-icon {
    height: rem(50px);
    margin-bottom: map.get($spacing, '03');
    width: rem(50px);
  }
}

.c-presentation__content {
  margin-left: map.get($spacing, '09');

  .c-presentation__image {
    width: rem(474px);

    @media (max-width: rem(980px)) {
      display: none;
    }
  }
}

.c-content-box__package,
.c-content-box__delivery,
.c-content-box__ready-food,
.c-feedback__description {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-content-box__delivery {
  .c-icon--big {
    margin-bottom: map.get($spacing, '03');
    width: rem(250px);
  }
}

.c-content-box__package {
  transform: translateY(-25px);

  .c-icon--big {
    margin-bottom: map.get($spacing, '03');
    width: rem(200px);
  }
}

.c-content-box__ready-food {
  transform: translateY(-15px);

  .c-icon--big {
    margin-bottom: map.get($spacing, '03');
    width: rem(250px);
  }
}

.c-feedback__box {
  .c-feedback__image {
    border-radius: 50%;
    height: rem(344px);
    width: rem(490px);
  }
}

.c-feedback__description {
  flex-direction: row;
  gap: map.get($spacing, '05');
  justify-content: flex-start;
  margin-bottom: map.get($spacing, '06');
  margin-top: map.get($spacing, '06');

  .c-feedback__character {
    height: rem(48px);
    width: rem(48px);
  }
}

.c-form__content {
  display: flex;
  flex-flow: wrap column;
  margin-top: map.get($spacing, '06');

  .c-form__image {
    width: rem(370px);
  }
}
