@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.c-header__logo {
  margin-right: map.get(variables.$spacing, '01');

  .c-header__image {
    height: functions.rem(42px);
    width: functions.rem(50px);
  }
}

.c-presentation__icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .c-icon {
    height: functions.rem(50px);
    margin-bottom: map.get(variables.$spacing, '03');
    width: functions.rem(50px);
  }
}

.c-image__air-support {
  height: functions.rem(400px);
  width: functions.rem(390px);
}

.c-footer__logo {
  height: functions.rem(50px);
  width: functions.rem(50px);

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    height: functions.rem(35px);
    width: functions.rem(35px);
  }
}
