@use 'sass:map';

.c-header__logo {
  margin-right: map.get($spacing, '01');

  .c-header__image {
    height: rem(42px);
    width: rem(50px);
  }
}

.c-presentation__content {
  margin-left: map.get($spacing, '09');

  .c-presentation__image {
    width: rem(474px);

    @media (max-width: rem(980px)) {
      display: none;
    }
  }
}

.c-feedback__img {
  background: url('../../src/assets/images/hamburguer.svg') center no-repeat;
  border-radius: 50%;
  height: rem(403px);
  margin-right: map.get($spacing, '08');
  width: rem(403px);
}
