@use '../abstract/variables';
@use '../abstract/functions';
@use 'sass:map';

.c-header__nav-list {
  padding-top: map.get(variables.$spacing, '04');

  @media (max-width: functions.rem(780px)) {
    background-color: map.get(variables.$accessible-colors, 'main-color');
    display: block;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    transition: variables.$transition-duration-default;
    visibility: hidden;
    width: 100vw;
    z-index: 1000;
  }
}

.c-header__nav-item {
  display: inline-flex;
  padding-left: map.get(variables.$spacing, '08');

  @media (max-width: functions.rem(780px)) {
    display: block;
    padding-bottom: map.get(variables.$spacing, '07');
  }
}

.c-header__nav-link {
  color: map.get(variables.$accessible-colors, 'primary-color');
  font-size: map.get(variables.$font-size, 'md');
  font-weight: map.get(variables.$font-weight, 'bold');
  transition: variables.$transition-duration-exit
    variables.$transition-function-ease-in;
}

// Menu Hamburger

.l-header__nav.is-header__nav--active {
  .c-header__nav-list {
    @media (max-width: functions.rem(780px)) {
      visibility: visible;
    }
  }
}
