@use 'sass:map';

.c-paragraph {
  font-weight: map.get($font-weight, 'regular');
}

.c-paragraph--teste {
  color: #c3843a;
}

.c-paragraph--main,
.c-paragraph--service,
.c-paragraph--feedback {
  color: map.get($theme-light, 'secondary-color');
  font-size: map.get($font-size, 'md');
}

.c-paragraph--main {
  max-width: rem(340px);
  text-align: left;
}

.c-paragraph--service {
  max-width: rem(550px);
  text-align: center;
}

.c-paragraph--form {
  color: map.get($theme-light, 'main-color');
}

.c-paragraph--info {
  color: map.get($theme-light, 'primary-color');
  font-size: rem(14px);
  font-weight: map.get($font-weight, 'extra-bold');
  letter-spacing: 2px;
  text-align: center;
}

.c-budget--info {
  color: map.get($theme-light, 'third-color');
}

.c-paragraph--delivery {
  color: map.get($theme-light, 'secondary-color');
  font-size: map.get($font-size, 'base');
  text-align: center;
}

.c-paragraph--feedback {
  max-width: rem(448px);
  text-align: left;
}
