@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.c-title {
  font-weight: map.get(variables.$font-weight, 'bold');
  letter-spacing: variables.$letter-spacing-default;
}

.c-title--primary,
.c-title--medium,
.c-title--service,
.c-title--feedback {
  color: map.get(variables.$accessible-colors, 'primary-color');
  max-width: functions.rem(600px);

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'md')) {
    max-width: functions.rem(300px);
  }
}

.c-title--primary {
  &:focus,
  &:visited,
  &:active {
    border: 1px dashed map.get(variables.$accessible-colors, 'third-color');
  }
}

.c-title--medium,
.c-title--feedback {
  text-align: left;

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    text-align: center;
  }
}

.c-title--feedback {
  width: functions.rem(500px);
}

.c-title--service {
  text-align: center;
}

.c-title-form {
  color: map.get(variables.$accessible-colors, 'main-color');
  text-align: center;
}

// Titles style for non-accessible version of site
.c-title--not-accessible {
  color: map.get(variables.$not-accessible-colors, 'main-color');
}
