@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.l-content-box {
  flex-direction: column;

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: map.get(variables.$spacing, '07');
  }

  &__infos {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: map.get(variables.$spacing, '08');
    justify-content: center;
    margin-top: map.get(variables.$spacing, '09');
    width: 100%;

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'md')) {
      flex-direction: column;
    }
  }

  &__link {
    margin-top: map.get(variables.$spacing, '07');
  }
}
