@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.l-footer {
  padding-bottom: map.get(variables.$spacing, '07');
  padding-top: map.get(variables.$spacing, '08');

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: map.get(variables.$spacing, '08');
    justify-content: center;

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
      gap: map.get(variables.$spacing, '03');
    }
  }
}
