@use '../abstract/variables';
@use '../abstract/breakpoint';
@use 'sass:map';

.l-form {
  align-items: center;
  background-color: map.get(variables.$accessible-colors, 'primary-color');
  color: map.get(variables.$accessible-colors, 'main-color');
  display: flex;
  gap: 8rem;
  height: 30rem;
  justify-content: space-around;
  width: 100%;

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'lg')) {
    flex-direction: column;
    gap: 0;
    height: 35rem;
  }
}
