@use '../abstract/variables';
@use 'sass:map';

.l-header {
  display: flex;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    margin-top: map.get(variables.$spacing, '07');
  }
}
