@use '../abstract/variables';
@use '../abstract/functions';
@use '../abstract/breakpoint';
@use 'sass:map';

.l-presentation,
.l-content-box,
.l-feedback {
  align-items: center;
  display: flex;
  margin-bottom: map.get(variables.$spacing, '09');
  margin-top: map.get(variables.$spacing, '08');
  width: 100%;
}

.l-presentation {
  flex-direction: row;
  justify-content: space-around;

  @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'xl')) {
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    gap: map.get(variables.$spacing, '06');

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'xl')) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__infos {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: map.get(variables.$spacing, '08');
    justify-content: flex-start;
    margin-top: map.get(variables.$spacing, '05');
    width: 70%;

    @include breakpoint.breakpoint-up(map.get(breakpoint.$breakpoints, 'md')) {
      gap: map.get(variables.$spacing, '06');
      width: 75%;
    }
  }
}
